body {
  /*font-family: 'Martel', serif;*/
  background-color: #F2F2F2;
}

/* Header*/

.header {
  padding-top: 10px;
  padding-left: 20px;
  color: #00203F; 
}

header h4 {
  font-style: italic;  
}

hr {
  border:1px solid #00203F; 
  border-radius: 5px;
}

/* Main Content*/

.main-content {
  margin-top: 20px;
}

/* Index - Jumbotron*/

.jumbotron {
  background: linear-gradient(#ADEFD1, #00203F); 
  box-shadow: 5px 5px 5px; 
}

.lead {
  color: white;  
}

/* Makes 100% stand-out*/
.lead-standout {
  font-family: 'Kalam', cursive;
  font-size: 2rem;
  font-style: italic
}

.btn-contact {
  color: #ADEFD1;
  background-color: #00203F;
  border: 2px solid #ADEFD1;
  margin-bottom: 10px;
}

/* Index - Presentation of games */

.game-link {
  border: 2px solid #00203F;
  background-color: #eefbf5;
  box-shadow: 5px 5px 5px;   
  margin-right: 10px;
}

.game-link h3 {
  padding-top: 5px;  
}

.game-img {
  width: 100%;
  padding-bottom: 15px;  
}

/* Footer*/

footer {
  color: #00203F;  
  padding-top: 15px;
}

/* About-page*/

#about-content {
  color: #00203F;
}

.blockquote {
  background-color: #ADEFD1; 
  padding: 10px;
  box-shadow: 5px 5px 5px;
}

.quote-img {
  width: 28%;
  float: right;  
  padding-left: 15px;
}

/* Flip */

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 300px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 292px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  height: 292px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
  background-color: #ADEFD1;
  border: 8px solid white;
}

.card-back-text {
  font-size: 0.8rem;  
  padding-left: 25px;
  padding-right: 10px;
  text-align: left;
  padding-top: 10px;
}